<html>
<head>
    <title>Restaurant Hours</title>
    <style>
        .error {
            color: red;
        }
        input {
            padding-left: .3em;
        }
    </style>
</head>
<body>
<h1>Restaurant Hours</h1>
<div id="resthours">
  <div><form>
          <label name="daytime">When would you like to eat (e.g., Mon 6:30 pm)?
              <input type="text" name="daytime" v-model="daytime" placeholder="DDD HH:MM aa" @keyup='keyup' autofocus></label>
    <button name="go" @click='search'>Go</button>
  </div>
  <div :class="{error: error}">{{message}}</div>
  <div v-if="results.length">
      <div>Restaurants available {{daytime}}:</div>
      <ul v-for='it in results'>
          <li><span>{{it.name}}</span></li>
      </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>
